<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="tests" thread-count="2">
<listeners>
   <listener class-name="com.demo.base.TestListener"/>
</listeners>

    <test name="SearchFieldTest-CH" >
        <parameter name="browser"  value="chrome"/>
        <groups>
            <run>
                <exclude name="positive"/>
            </run>
        </groups>
        <classes>
            <class name="SearchFieldTest">
            </class>
        </classes>
    </test>

    <test name="SearchFieldTest-FF" >
        <parameter name="browser"  value="firefox"/>
        <groups>
            <run>
                <exclude name="positive"/>
            </run>
        </groups>
        <classes>
            <class name="SearchFieldTest">
            </class>
        </classes>
    </test>

<!--
        <test name="EditProfileTest-CH" >
            <parameter name="browser"  value="chrome"/>
            <classes>
                <class name="EditProfileTest">
                </class>
            </classes>
        </test>

            <test name="EditProfileTest-FF" >
                <parameter name="browser"  value="firefox"/>
                <classes>
                    <class name="EditProfileTest">
                    </class>
                </classes>
            </test>


    <test name="LoginTest-FF" >
        <parameter name="browser"  value="firefox"/>
        <groups>
            <run>
                <exclude name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="LoginTest">
            </class>
        </classes>
    </test>

    <test name="LoginTest-CH" >
        <parameter name="browser"  value="chrome"/>
        <groups>
            <run>
                <exclude name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="LoginTest">
            </class>
        </classes>
    </test>-->
</suite>

